<div class="container">

  <div class="card o-hidden border-0 shadow-lg my-5">
    <div class="card-body p-0">
      <p-messages [(value)]="msgs"></p-messages>
      <!-- Nested Row within Card Body -->
      <div class="row" style="padding: 5px">

        <div class="col-lg-12">
          <div class="">
            <div class="card mb-4">
              <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold doodle-color">Créer une réunion</h6>
              </div>
              <div class="card-body">
                <form class="user" (submit)="sondageAdd($event)">
                  <div class="form-group">
                    <input type="text" [(ngModel)]="intitule" name="intitule" class="form-control form-control-user" id="intitule" placeholder="Intitulé" required>
                  </div>
                  <div class="form-group">
                    <textarea  [(ngModel)]="resume"  name="resume" class="form-control form-control-user" id="resume" placeholder="Resumé" required>

                    </textarea>
                  </div>

                  <div class="form-group">
                    <label> Selectionner participants </label>
                    <select name="participants" name="participants" class="form-control form-control-user" aria-multiselectable="true" multiple>
                      <option *ngFor="let participant of participants" [ngValue]="participant.id">
                        {{participant.nom}} {{participant.prenom}}</option>
                    </select>
                  </div>

                  <div class="card mb-4">
                    <div class="card-header">
                      <i class="fas fa-calendar mr-1">  </i>Dates possibles
                    </div>
                    <div class="card-body">
                      <div class="form-group row">
                        <div class="col-5 mb-3 mb-sm-0">
                          <p-calendar [(ngModel)]="datepropose" name="datepropose" class="event-element" value="datepropose" [showIcon]="true" placeholder="Choisir date"></p-calendar>
                        </div>
                        <div class="col-4" >
                          <p-calendar [(ngModel)]="Heurepropose" name="Heurepropose" value="Heurepropose"  [timeOnly]="true" placeholder="Choisir heure" style=""></p-calendar>
                        </div>
                        <div class="col-2">
                          <p-checkbox [(ngModel)]="aUnDejDate" name="aUnDejDate" value="aUnDejDate"  label="Déj" ></p-checkbox>
                        </div>
                        <div class="col-1 ">
                          <a class="btn event-element btn-circle" (click)= "add_date()">
                            <i class="fas fa-plus"></i>
                          </a>
                        </div>
                      </div>

                      <table class="table">
                        <thead>
                        <tr>
                          <th scope="col" width="60%">Date proposée</th>
                          <th scope="col">Déjeuner</th>
                          <th scope="col">Action</th>
                        </tr>
                        </thead>
                        <tbody *ngFor="let date of dateListe">
                        <tr>
                          <td>{{ date.date }}</td>
                          <td *ngIf="date.aUnDejeuner"><i class="fas fa-check-circle" style="color:#fcb103"></i></td>
                          <td *ngIf="!date.aUnDejeuner"><i class="fas fa-times" style="color:red"></i></td>
                          <td>
                            <a class="btn btn-danger btn-circle" (click)= "remove_date(date.daterelle)">
                              <i class="fas fa-minus"></i>
                            </a>
                          </td>
                        </tr>
                        </tbody>
                      </table>

                    </div>
                  </div>

                  <button type="submit" class="btn event-element btn-user btn-block" id="submit">Enregister</button>
                </form>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

</div>
